@import './colorFunctions.scss';

.App {
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 1.2em;
  font-family: monospace;

  h1 {
    text-align: center;
  }

  h2 {
    padding: 1.5em 0 0em 0;
  }

  input {
    border-radius: 3px;
    border: 1px solid #999;
    font-size: 1em;
    font-family: monospace;
    padding: 5px;
  }
}

#sidebar {
  width: 300px;
  padding: 15px 40px;
  display: flex;
  flex-direction: column;
  box-shadow: -7px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.base-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;

  input {
    width: 160px;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  padding: 0 0 1.5em 0;

  label {
    // font-weight: bolder;
  }

  .control {
    span {
      width: 30px;
      text-align: center;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
  }

  input {
    width: 50px;
  }

  input[type="range"] {
    width: 140px;
    margin: 0 10px;
    padding: 0;
  }

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.colors {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  color: white;
}

.colors > div {
  height: 100%;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  padding-left: 1em;
}


